.bookButton{
    border-radius: 4px;
}

.buttonmodal {
    display: block;
    color: #fff;
    position: relative;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    background: linear-gradient(to right, #DD352A 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  
  .buttonmodal:hover {
    background-position: left bottom;
  }
  
  h4.bookButton{
    font-family: "Plus Jakarta Sans";
    text-align: center;
    padding: 8px 14px;
    font-size: 14px;
    color: white;
    background-color: rgb(39, 38, 38);

  }
  h4.bookButton a{
    text-decoration: none;
    color: white;
  }